<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="main-content container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1"><%= title %></h1>

            <p>My project is a straightforward web application that lets users quickly create humorous, fake news stories about their friends or family:</p>
            
            <p>
                <ul>
                    <li>Visit and Input: Users access a simple form on the website to input details like the name of the person and a funny scenario.</li>
                    <li>Submit Details: After filling in the information, they submit the form.</li>
                    <li>Automatic Generation: The site processes the data and automatically crafts a fake news article, styled like a real news story.</li>
                    <li>Share the Story: Users receive a shareable URL of the generated article, ready to be sent to friends for a good laugh.</li>
                </ul>
            </p>
            
            <p>This efficient and user-friendly tool transforms a few inputs into an entertaining piece, showcasing basic web development skills in a fun context.</p>
            
        </section>

    </main>
    <%- include('partials/footer') %>
</body>
</html>